footer {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    #formAndSMContainer {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;
        #socialMediaContainer {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
                margin: 0.5rem;
                i {
                    color: $neonGreen;
                }
            }
        }
        #newsletterContainer {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h4 {
                font-family: 'Madimi One', sans-serif;
                color: $white;
                text-shadow: 1px 1px 1px $black;
                margin-bottom: 0.5rem;
            }
            #formContainer {
                width: 80%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                #emailFormFooter,
                #submitFormFooter {
                    width: 60%;
                    font-family: inherit;
                    padding: 10px;
                    border-radius: 15px;
                    background-color: $neonGreen;
                    color: $darkBlue;
                    border: 1px solid $darkBlue;
                }
                #submitFormFooter {
                    width: 20%;
                    background-color: $darkBlue;
                    border: 1px solid $neonGreen;
                    color: $neonGreen;
                }
            }
        }
    }
}
