// reset.scss

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Margin and Padding
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
}

// List
ul,
ol {
    list-style: none;
}

// Hyperlinks
a {
    text-decoration: none;
    color: inherit;
}

// Typography
body {
    font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

// Other Elements
pre,
code {
    font-family: monospace;
}

// Images
img {
    max-width: 100%;
    height: auto;
}
