.titlePage {
    width: 100%;
    font-family: 'Madimi One', sans-serif;
    font-size: 3rem;
    color: $neonGreen;
    text-shadow: 2px 2px 2px $black;
    text-align: center;
    margin-bottom: 1rem;
}
