/* Paleta de Colores */
$white: #fff;
$black: #000;
$neonGreen: #d3d94f;
$lightGreen: #969d41;
$darkGreen: #565d39;
$darkBlue: rgb(23, 32, 55);

/* Fuentes */
$fontLogo: '"Bungee Shade", sans-serif';
$fontTitleMovie: '"Aboreto", system-ui';
